

h1 {
	color: white;
	font-size: 72px;
}

h3 {
	color: black;
	font-size: 36px;

}

p {
	color: slategray;
	font-size: 18px;
}

body {
	background: #FAF5FE;
}

.post-border{
	border-width: 2px;
	border-style: solid;
	border-color: grey;
	margin: 20px;

}
.post-back{
	background-color: white;
	padding: 10px;
}

.menu{
	background-color: #B273E9;
	padding: 10px;
}

.glyphicon:hover {
  opacity: 0.75;
  cursor: pointer;
}