

h1 {
	color: white;
	font-size: 72px;

}

h3 {
	color: black;
	font-size: 36px;

}

p {
	color: slategray;
	font-size: 18px;
}

body {
	background: #FAF5FE;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container > div {
  	background-color: white;
  	margin: 50px;
  	padding: 40px;
 	font-size: 30px;
	border-style: solid;
	border-color: grey;
	border-radius: 25px;
}

.exsentence {
	font-style: italic;
}

 @media (max-width: 750px) {
 	#statement{
		
		text-align: center;
	}
	#sugbox{
		margin: 50px;
	}

}
@media (min-width: 751px) {
	#statement{
		margin-left: 150px;
	}
	#sugbox{
		margin-left: 200px;
		margin-right: 200px;
		margin-top: 50px;
	}
	#submitlink{
		margin-left: 50px;
	}
}

@media (min-width: 1000px) {
	#searchbar{
		margin-left: 50px;
	}

	.post-border{

	margin-left: 150px;
	margin-right: 200px;

	}
	.flex-container > div {
		padding-left: 100px;
		padding-right: 100px;

	}
}
#wordsug {
	width: 300px;
}
#sendiv{
	margin-top: 50px;
}
#countrysug {

	width: 400px;
	height: 300px;

}


#statement{
	margin-top: 20px;
	margin-bottom: 20px;
}

#timespan{
	margin-left: 15px;
	color: slategray;
	font-size: 18px;
}

.post-border{
	border-width: 2px;
	border-style: solid;
	border-color: grey;
	margin-bottom: 20px;
	min-width: 500px;
	border-radius: 25px;

}
.post-border > * {
	margin-left: 20px;

}
.post-back{
	background-color: white;
	padding: 10px;
}

.navbar{
	background-color: #B273E9;
	padding: 10px;
}

.glyphicon:hover {
	opacity: 0.75;
 	cursor: pointer;
}

.navpagination {
	text-align: right;
	margin-right: 50px;
}

#navbutton1 {
    color: 	#D3D3D3;
}

#navbutton2 {
    color: #D3D3D3;
}

#navbutton3 {
    color: #D3D3D3;
}

#navbutton4 {
    color: #D3D3D3;
}