{% extends "base.html" %}

{% block content %}

	<p>Here all dictionary entries will be sorted alphabetically</p>

	{% for post in postlist %}
		<div class = "post-border post-back">
			<h3>{{post.word}}</h3>
			
			{% for ctry in flaglist[post.id - 1] %}
				<span class="flag-icon flag-icon-{{ctry.lower()}}"></span>
			{% endfor %}
			
			<p>{{post.definition}}</p>
			<div>Upvotes:{{post.upvotes}} Downvotes:{{post.downvotes}}</div>
		</div>
	{% endfor %}

	<nav aria-label="Page navigation example">
	  <ul class="pagination" data-curr={{page}} data-pagelen = {{page_len}}>
	    
	    <li class="page-item">
	      <a class="page-link" href="{{link}}" aria-label="Previous" id = "page_prev">
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">Previous</span>
	      </a>
	    </li>
	    

	    {% for i in indlist %}
		    <li class="page-item"><a class="page-link" href = "{{link}}"> {{i}}</a></li>
		{% endfor %}
		
		
		<li class="page-item">    	
	      <a class="page-link" href="{{link}}" aria-label="Next" id = "page_next">
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">Next</span>
	      </a>
	    </li>
	   
	  </ul>
	</nav>

		


{% endblock %}