{% extends "bootstrap/base.html" %}



	
	
{% block title %}{{sentence}}{% endblock %}



{% block styles -%}
	{{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
	                    will disappear! #}
	<link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
	<link rel = "stylesheet" href = "{{ url_for('static', filename='flag-icon.css') }}">


{% endblock %}		



{% block navbar %}
	<div class = "menu">
		<h1>{{sentence}}</h1>
		
		<div class="btn-group" role="group" aria-label="Button group with nested dropdown">

			<a href="/alpha/1" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Sorted alphabetically</a>
			<a href="/ranked/1" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Sorted by popularity</a>
			<a href="/time/1" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Sorted by time</a>

		
			<div class="btn-group" role="group">
				<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Countries
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    

					<li><a class="dropdown-item" href="/by_Country/AR/1"><span class="flag-icon flag-icon-ar"></span> Argentina</a></li>
				    <li><a class="dropdown-item" href="/by_Country/BO/1"><span class="flag-icon flag-icon-bo"></span> Bolivia</a></li>
				    <li><a class="dropdown-item" href="/by_Country/BR/1"><span class="flag-icon flag-icon-br"></span> Brazil</a></li>
				    <li><a class="dropdown-item" href="/by_Country/CL/1"><span class="flag-icon flag-icon-cl"></span> Chile</a></li>
				    <li><a class="dropdown-item" href="/by_Country/CO/1"><span class="flag-icon flag-icon-co"></span> Colombia</a></li>
				    <li><a class="dropdown-item" href="/by_Country/CR/1"><span class="flag-icon flag-icon-cr"></span> Costa Rica</a></li>
				    <li><a class="dropdown-item" href="/by_Country/CU/1"><span class="flag-icon flag-icon-cu"></span> Cuba</a></li>
				    <li><a class="dropdown-item" href="/by_Country/DO/1"><span class="flag-icon flag-icon-do"></span> Dominican Republic</a></li>
				    <li><a class="dropdown-item" href="/by_Country/EC/1"><span class="flag-icon flag-icon-ec"></span> Ecuador</a></li>
				    <li><a class="dropdown-item" href="/by_Country/SV/1"><span class="flag-icon flag-icon-sv"></span> El Salvador</a></li>
				    <li><a class="dropdown-item" href="/by_Country/GT/1"><span class="flag-icon flag-icon-gt"></span> Guatemala</a></li>
				    <li><a class="dropdown-item" href="/by_Country/HN/1"><span class="flag-icon flag-icon-hn"></span> Honduras</a></li>
				    <li><a class="dropdown-item" href="/by_Country/MX/1"><span class="flag-icon flag-icon-mx"></span> Mexico</a></li>
				    <li><a class="dropdown-item" href="/by_Country/NI/1"><span class="flag-icon flag-icon-ni"></span> Nicaragua</a></li>
				    <li><a class="dropdown-item" href="/by_Country/PA/1"><span class="flag-icon flag-icon-pa"></span> Panama</a></li>
				    <li><a class="dropdown-item" href="/by_Country/PY/1"><span class="flag-icon flag-icon-py"></span> Paraguay</a></li>
				    <li><a class="dropdown-item" href="/by_Country/PE/1"><span class="flag-icon flag-icon-pe"></span> Peru</a></li>
				    <li><a class="dropdown-item" href="/by_Country/PR/1"><span class="flag-icon flag-icon-pr"></span> Puerto Rico</a></li>
				    <li><a class="dropdown-item" href="/by_Country/ES/1"><span class="flag-icon flag-icon-es"></span> Spain</a></li>
				    <li><a class="dropdown-item" href="/by_Country/UY/1"><span class="flag-icon flag-icon-uy"></span> Uruguay</a></li>
				    <li><a class="dropdown-item" href="/by_Country/VE/1"><span class="flag-icon flag-icon-ve"></span> Venezuela</a></li>
		  

				  </ul>
				</div>
			</div>
		
		</div>

		<a href="/suggestion" class="btn btn-primary btn-md active" role="button" aria-pressed="true" id = "submitlink">Submit Word</a>

		<form class="form-inline active-cyan-4 btn-group" id = "searchbar" action = "/searchresult" method = "POST">
	  		<input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" name = "searchword">
	  		<i class="fas fa-search" aria-hidden="true"></i>
		
		</form>


	</div>


{% endblock %}
		


{% block content %}{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{url_for('static', filename='pagination.js')}}"></script>
	<script src="{{url_for('static', filename='country_select.js')}}"></script>
	<script src="{{url_for('static', filename='voting.js')}}"></script>
	<script src="{{url_for('static', filename='votingstoreage.js')}}"></script>
	<script src="{{url_for('static', filename='sendform.js')}}"></script>
{% endblock %}




